@import "/src/static/styles/styles.scss";

.main {
    height: 32px;
    border-radius: 8px;
    padding: 8px 16px;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out, transform .1s ease-out;

    &:hover {
        filter: contrast(200%);
    }
    &:active {
        transform: scale(0.98);
    }
}

.primary {
    background-color: $colorBtnPrimary;
    border: 1px solid $colorBtnPrimary;
}

.secondary {
    background-color: $colorBtnSecondary;
    border: 1px solid $colorBtnSecondary;
}