.main {
  display: flex;
  width: 73%;
  margin: auto;

  @media (max-width: 1270px) {
    width: 90%;
  }

  @media (max-width: 1023px) {
    width: 96%;
  }
}

.mainLeftMenu {
  width: 304px;
  margin-right: 2%;
  transition: all 1s ease-out;

  @media (max-width: 767px) {
    margin-right: 0;
    width: 250px;
    position: fixed;
    top: 47px;
    right: -220px;
    z-index: 2;
    &:hover {
      transform: translateX(-230px);
    }

    &.show {
      transform: translateX(-230px);
    }
  }
}

.centerSection {
  width: 80%;

  @media (max-width: 767px) {
    width: 95%;
  }
}